<!DOCTYPE html>
<head>
    <title>het or no?</title>
</head>
<body>
    My final project aims to subvert expectations of couples in famous romance texts (e.g. Pride and Prejudice, 
    Romeo and Juliet, Jane Eyre) by changing genders of the main love interests to make the main couple in these
    texts gay. By doing so, this final project also comments on common romance tropes (e.g. the cold brooding man
    in charge). I also potentially will change more genders or make an interactive script that will change the 
    genders of main characters.
</body>