<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>tiffany chen</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.png"/>
    <style>
      body {
        font-family: monospace;
      }
      p {
        padding-left: 10%;
        padding-right: 10%;
      }
      a, li {
        color: #E5F9E0; 
      }
      #content {
        padding-left: 10%;
        padding-right: 10%;
      }
      .occupation {
        font-style: bold;
      }
      .languages {
        font-style: italic;
      }
      .links:hover {
        color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-md bg justify-content-between sticky-top" style="color: #E5F9E0; background-color: #40C9A2;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#about_me">about me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">work + resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">projects</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">tiffany chen</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="mailto:tiffanychen370@gmail.com"><i class="fas fa-envelope"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/tiffanychenn"><i class="fab fa-github"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/profile.php?id=100005416967459"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/tiffanysta"><i class="fab fa-instagram"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/tiffany-chen-647b72171/"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="content" style="background-color: #E5F9E0;">
        <div class="container-fluid" id="about_me" style="color: #2F9C95; text-align: center; padding: 2%;">
            <h3>hi there! i'm tiffany chen!</h3>
            <h4>stuy '18 | mit '22 | software engineer</h4>
            <div class="row align-items-center">
                <div class="col-md" style="padding: 2%;">
                    <img src="/static/square-me.jpg" class="img-fluid">
                </div>
                <div class="col-md" style="padding: 2%;">
                    <h6>interesting factoids about me:</h6>
                    <ul>
                        <li style="color: #2F9C95">i currently study computer science at mit, and am considering a double major with creative writing or mechanical engineering.</li>
                        <li style="color: #2F9C95">i've been programming for 5 years now, and am proficient in python, java, javascript, bash scripting, and more. in high school, i've taken classes in computer graphics and software development; i am currently taking classes on computational structures and programming at mit.</li>
                        <li style="color: #2F9C95">i am incredibly interested in product design and user experience, best shown with my internship at <a href="https://www.anmh.org" style="color: #40C9A2;">the museum of natural history</a>, where i designed exhibits for the temporary exhibition "the senses show."</li>
                        <li style="color: #2F9C95">i am versed in machine learning, having done a research project using machine learning algorithms to predict gentrification in nyc neighborhoods. (for this project, i was named a scholar for <a href="https://student.societyforscience.org/regeneron-sts" style="color: #40C9A2;">the regeneron research competition</a>!)</li>
                        <li style="color: #2F9C95">at mit, i am part of the <a href="https://think.mit.edu" style="color: #40C9A2;">think</a> committee, where i select several research project proposals from high school students to mentor and fund their research. i am also on the devops committee, developing web apps to help my committee complete tasks.</li>
                        <li style="color: #2F9C95">in my free time, i write short stories or poetry. i also love giving back to the community; at mit, i volunteer often with my sorority, and in high school, i was very active in my school's key club, being part of the cabinet in my last year.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="content" style="background-color: #A3F7B5;">
        <div class="container-fluid" id="work" style="color: #2F9C95; text-align: center; padding: 2%;">
            <h3>work experience</h3>
            <div class="row">
                <div class="col-md-4">
                    <h5><a href="https://ultimatesoftware.com" style="color: #40C9A2;">ultimate software</a></h5>
                    <h6 class="occupation">intern | may '19 - august '19 | weston, fl</h6>
                    <p>i will be interning with ultimate software's software development team this summer! more info to come later.</p>
                </div>
                <div class="col-md-4">
                    <h5><a href="https://ms.com" style="color: #40C9A2;">morgan stanley</a></h5>
                    <h6 class="occupation">intern | july '18 - august '18 | new york, ny</h6>
                    <p>i worked as a technology intern at morgan stanley, wealth management. there, i developed two internal web applications, trak and seekr, which track developed websites as they go through different testing environments.</p>
                </div>
                <div class="col-md-4">
                    <h5><a href="https://amnh.org" style="color: #40C9A2;">museum of natural history</a></h5>
                    <h6 class="occupation">intern | october '16 - may '17 | new york, ny</h6>
                    <p>i interned in the exhibitions department of the museum, where i built exhibits for a year. one ended up in the senses show, showcasing how several animals see differently than humans and why.</p>
                </div>
            </div>
            <h4>interested in my resume? <a href="/static/resume.pdf" style="color: #40C9A2;">here it is</a>!</h4>
        </div>
    </div>

    <div id="content" style="background-color: #E5F9E0;">
        <div class="container-fluid" id="projects" style="color: #2F9C95; text-align: center; padding: 2%;">
            <h3>projects</h3>
            <div class="row">
                <div class="col-md-4">
                    <h5><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="color: #40C9A2;">writing blog</a></h5>
                    <p>i will develop my writing blog over break. for now, though, please enjoy this link.</p>
                    <p class="languages">flask, bootstrap, sql databases</p>
                </div>
                <div class="col-md-4">
                    <h5><a href="https://viewer.xfair.io/yamatos" style="color: #40C9A2;">techx application viewer</a></h5>
                    <p>i developed an interface to allow committee members to easily read applications for think and xfair (a conference at mit) and accept/reject applicants.</p>
                    <p class="languages">flask, react, mongodb</p>
                </div>
                <div class="col-md-4">
                    <h5><a href="https://github.com/JFreud/milksquared" style="color: #40C9A2;">assassin game organizer</a></h5>
                    <p>i worked with a team to develop an assassin's game organizer. a user can register and start/join existing assassin games. the app does all administrative parts of the game, such as randomly assigning targets and administering a way to mark deaths.</p>
                    <p class="languages">flask, javascript, bootstrap, sql databases</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <h5><a href="https://github.com/tiffanychenn/DIJiTal" style="color: #40C9A2;">mario party online game</a></h5>
                    <p>i worked with a team to develop an online version of mario party. two players can play simultaneously, going across the board and playing minigames to earn/lose coins. players can also continue old games from the home page.</p>
                    <p class="languages">flask, javascript, foundation, sql databases</p>
                </div>
                <div class="col-md-4">
                    <h5><a href="https://github.com/tiffanychenn/regeneron-research" style="color: #40C9A2;">regeneron research</a></h5>
                    <p>i predicted gentrification in nyc neighborhoods using public housing data from 2003 - 2017. i inputted final sale prices of houses in gentrifying and non-gentrifying neighborhoods into the cox proportional hazards model, and trends allowed me to see what neighborhoods are most likely to gentrify next.</p>
                    <p class="languages">python</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5><a href="https://github.com/tiffanychenn/gstem-research" style="color: #40C9A2;">gstem research</a></h5>
                    <p>i predicted housing prices for many unsold homes in new york city using regression models in machine learning.</p>
                    <p class="languages">python</p>
                </div>
                <div class="col-md-4">
                    <h5><a href="https://github.com/tiffanychenn/safariZone" style="color: #40C9A2;">safari zone game</a></h5>
                    <p>my partner and i developed a game in processing simulating the safari zone minigame found in many main pokemon games. players can choose their character and catch pokemon, collecting them all in several safari zone habitats.</p>
                    <p class="languages">processing</p>
                </div>
                <div class="col-md-4">
                    <h5><a href="https://github.com/JFreud/spellCheck" style="color: #40C9A2;">spell checker</a></h5>
                    <p>my partner and i developed a spell checker. by inputting text, the program checks each word with the dictionary and, if the word is not found, spell checks it. the user can also respell-check words.</p>
                    <p class="languages">java</p>
                </div>
            </div>
            <h4>want to see more? check out <a href="https://github.com/tiffanychenn" style="color: #40C9A2;">my github</a>.
        </div>
    </div>

    <div id="content" style="background-color: #40C9A2;">
        <div class="container-fluid" style="color: #E5F9E0; text-align: center; padding: 2%;">
            <span>
                <a href="mailto:tiffanychen370@gmail.com" class="links"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/tiffanychenn" class="links"><i class="fab fa-github"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100005416967459" class="links"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/tiffanysta" class="links"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/tiffany-chen-647b72171/" class="links"><i class="fab fa-linkedin"></i></a>
            </span>
            <p>© tiffany chen</p>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>