they huddle and whisper on the dance floor
she's a bad, bad girl, a drink in her hand
look how scandalous she is dancing
with a man who was never hers to lose
he dips her, she dips out of him, they dip
to mutter about her in the shadows
in the sleepovers where they have nothing 
better to talk about than business not theirs
they scream he dipped she dipped they kissed softly
how dare she do that to his girlfriend who's
so kind, so funny, so pretty; but she didn't
he dipped she dipped screamed what are you doing
but the truth is what others say it is
the truth is what others take it to be