i watched an amateur juggler today,<br>
as he hypnotized me and himself with<br>
blue ever-bouncing rubber balls, circling<br>
in and out of vision to entrance us.<br>
the juggler looked around the same age as<br>
Baba, with wrinkles tracing his forehead<br>
from stress, concentration, and memories,<br>
head always down as he laser focused.<br>
Baba would tell me to bounce back, like the<br>
white lacrosse ball he kept from when i was<br>
young and wide-eyed that he would bounce off the<br>
wall to disturb the loud neighbors he loathed.<br>
don't show emotion, he said, bounce back, and<br>
i learned that was easier said than done.