they huddle and whisper on the dance floor<br>
she's a bad, bad girl, a drink in her hand<br>
look how scandalous she is dancing<br>
with a man who was never hers to lose<br>
he dips her, she dips out of him, they dip<br>
to mutter about her in the shadows<br>
in the sleepovers where they have nothing <br>
better to talk about than business not theirs<br>
they scream he dipped she dipped they kissed softly<br>
how dare she do that to his girlfriend who's<br>
so kind, so funny, so pretty; but she didn't<br>
he dipped she dipped screamed what are you doing<br>
but the truth is what others say it is<br>
the truth is what others take it to be